In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('202201-divvy-tripdata.csv')

In [3]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665968,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [7]:
df = df.drop(['ride_id', 'start_station_id', 'end_station_id'], axis = 1)

In [8]:
df = df.dropna(subset = ['started_at', 'ended_at', 'start_lat', 'start_lng', 'end_lat', 'end_lng'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103684 entries, 0 to 103769
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rideable_type       103684 non-null  object
 1   started_at          103684 non-null  object
 2   ended_at            103684 non-null  object
 3   start_station_name  87424 non-null   object
 4   end_station_name    85843 non-null   object
 5   start_lat           103684 non-null  float64
 6   start_lng           103684 non-null  float64
 7   end_lat             103684 non-null  float64
 8   end_lng             103684 non-null  float64
 9   member_casual       103684 non-null  object
dtypes: float64(4), object(6)
memory usage: 8.7+ MB

In [11]:
# Convert 'started_at' and 'ended_at' to datetime format
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Calculate the duration and create a new column 'duration'
df['duration'] = df['ended_at'] - df['started_at']

In [13]:
# Convert 'duration' to seconds
df['duration'] = df['duration'].dt.total_seconds()

In [16]:
df = df.drop(['ended_at'], axis = 1)