# Pedaling Profiles: Unraveling Behavior Patterns and Member Status in Chicago's Bike Community

In [7]:
import pandas as pd
import plotly.express as px
import numpy as np

In [8]:
df = pd.read_csv('Bike_clean.csv')

In [9]:
df.head()

,rideable_type,started_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration,start_hour,weekday
0,electric_bike,2022-01-13 11:59:47,Glenwood Ave & Touhy Ave,Clark St & Touhy Ave,42.012800,-87.665906,42.012560,-87.674367,casual,177.0,11,3
1,electric_bike,2022-01-10 08:41:56,Glenwood Ave & Touhy Ave,Clark St & Touhy Ave,42.012763,-87.665968,42.012560,-87.674367,casual,261.0,8,0
2,classic_bike,2022-01-25 04:53:40,Sheffield Ave & Fullerton Ave,Greenview Ave & Fullerton Ave,41.925602,-87.653708,41.925330,-87.665800,member,261.0,4,1
3,classic_bike,2022-01-04 00:18:04,Clark St & Bryn Mawr Ave,Paulina St & Montrose Ave,41.983593,-87.669154,41.961507,-87.671387,casual,896.0,0,1
4,classic_bike,2022-01-20 01:31:10,Michigan Ave & Jackson Blvd,State St & Randolph St,41.877850,-87.624080,41.884621,-87.627834,member,362.0,1,3

In [10]:
# Grouping data by 'member_casual' and 'rideable_type'
grouped_df = df.groupby(['member_casual', 'rideable_type']).size().reset_index(name='count')

# Creating a pie chart with Plotly Express
fig = px.pie(grouped_df, values='count', names='member_casual',
             title='Distribution of Members')

fig.update_traces(hole=.4)

# Show the plot
fig.write_html('pie_chart.html')

In [11]:
grouped_df.head()

  member_casual  rideable_type  count
0        casual   classic_bike   6935
1        casual    docked_bike    943
2        casual  electric_bike  10584
3        member   classic_bike  48064
4        member  electric_bike  37157

A quick glance at Chicago's bike data reveals a dominant trendâ€”82.2% of users classify as members.

In [12]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    labels=["Member_Status", "Casual", "Member", "Classic_bike", "Docked_bike", "Electric_bike", "Classic", "Electric"],
    parents=["","Member_Status", "Member_Status", "Casual", "Casual", "Casual","Member","Member"],
    values=[103683, 18462,85221, 6935, 943,10584, 48064, 37157],
))
fig.update_layout(margin = dict(t=0, l=0, r=0))

fig.write_html('pie_chart2.html')